body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-family: 'Lato', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
  font-size: 90px;
  letter-spacing: -5px;
}

h1, h2, h3, label{
  font-family: 'Raleway-bold', sans-serif;
  padding:5px;
  color: #22b573;
}

button, .small_button{
  font-family: 'Raleway-bold', sans-serif;
  font-size: 40px;
  color: #22b573;
  padding:15px;
  border-radius:45px;
  border-width: 0px
}

.small_button{
  font-size:20px;
}

p {
  padding: 5px;
}

button:hover{
  cursor: pointer;
  border: 1pt solid #22b573;
}

/*---------------------------- -----------------------------------*/
#title{
  margin-left:2vw;
  padding:10px;
}

div form{
  text-align: center;
}
form, #fake-form{
  margin: 0 auto;
  width: 300px;
  height: 50vh;
  padding: 20px;
}

form input, #fake-form input{
  display:block;
  width:100px;
  margin:5px 0px 10px 100px;
}

ul {
  margin: 0 auto;
  min-width: 300px;
  width: 80vw;
}

ul li{
  margin: 10px 0px;
}

hr{
  margin:0 auto;
  width:95%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

label{
  font-size: 2vw;

}

ul li button {
  float:right;
  margin-right:10px;
  font-family: 'Raleway-bold', sans-serif;
}

#logo {
  height: 200px;
  padding-right: 50px;
}

#venue_portal_button{
  float:right;
  margin-right: 10vw;
  margin-top: 1vh;
  font-size: 20px;
 font-family: 'Raleway-medium', sans-serif; 

}

.wrapper {
  margin:0 auto;
  width:80%;
}

#login_buttons {
  width:100%;
  display: inline-block;
  margin-top: 2vh;

}
#login_buttons button{
  margin: 2vh 2vw ;
}

#action_button{
  background:goldenrod;
}

action_button:hover{
 background:green;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    text-align:center;
  }

  #logo{
    padding-right: 0;
  }

  label{
    font-size: 18px;
  }

}